* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: #795175;
    border: 0.3em solid #572866;
    font-size: 0.625rem;
}

.slider {
    width: 100%;
    max-width: 100em;
    margin: 0 auto;
    padding: 1em 3em;
    display: flex;
    flex-direction: column;
}

.slider__radio-wrapper {
    visibility: hidden;
}

.slider__img-wrapper {
    width: 100%;
    max-width: 55em;
    margin: 0 auto;
    border: 0.3em solid #572866;
    display: flex;
    overflow: hidden;
}

.slider__img {
    display: inline-block;
    flex-shrink: 0;
    width: calc(55em - 0.6em);
}

.slider__container {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.slider__text-wrapper {
    display: flex;
}

.slider__text {}

.slider__controls-wrapper {
    display: flex;
}

.slider__controls {
    width: 4em;
    height: 4em;
    background-color: transparent;
    margin: 0 1em;
    display: flex;
    align-items: center;
    justify-content: center;

}

.slider__controls:hover {
    cursor: pointer;
}

.slider__controls-inner {
    width: 2em;
    height: 2em;
    border: 0.1em solid #572866;
    border-radius: 50%;
    transition: all 0.5s;
}

.slider__controls:hover .slider__controls-inner {
    background-color: #572866;
    cursor: pointer;
}